:root {
  --primary-color: #ce7ae9;
  --secondary-color: #f9f7fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --font-family1: "Playfair Display", serif;
  --font-family2: "Poppins", sans-serif;
}
body {
  margin-top: 0%;
  margin-bottom: 90px;
  max-width: 100%;
}
h1 {
  font-family: var(--font-family1);
  font-size: 96px;
  text-align: center;
  margin: 0;
}
h2 {
  font-family: var(--font-family1);
  font-size: 64px;
  text-align: center;
  margin: 0;
}
h3 {
  font-family: var(--font-family2);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: black;
}
.my-par {
  background-color: #ffffff;
  font-family: var(--font-family2);
  font-size: 16px;
  line-height: 30px;
  padding: 5px;
  text-align: justify;
  text-justify: inter-character;
}
.my-text p {
  background-color: #ffffff;
  font-family: var(--font-family2);
  font-weight: normal;
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 140px 0px;
}
.hero h2 {
  font-family: var(--font-family2);
  font-weight: bold;
  font-size: 48px;
}
.hero h3 {
  font-weight: normal;
}
.navbar {
  max-width: 100%;
  margin-top: 0px;
}
.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.btn-go {
  border-radius: 4px;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  font-size: 18px;
  line-height: 27px;
  margin: 20px;
  margin-top: 10px;
  padding: 11px 23px;
  text-decoration: none;
  text-transform: capitalize;
}
.about-link {
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}
.about-section {
  margin: 30px;
}
.about.section h3 {
  font-weight: bold;
}
.about-paragraphs {
  display: flex;
  padding: 160px 20px;
}
.about-paragraphs p {
  text-align: justify;
  text-justify: inter-character;
}
.about-paragraphs h1 {
  font-size: 64px;
  line-height: 100px;
}
.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}
.email-link:hover {
  text-decoration: underline;
}
.mailme {
  font-size: 48px;
}
.btn-yoga-link,
.btn-weather-link,
.btn-yogurt-link,
.btn-my-works {
  border-radius: 5px;
  padding: 11px 23px;
  cursor: pointer;
  text-decoration: none;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}
.row col-md-6 {
  padding-left: 65px;
  padding-right: 5px;
}
.row-sm {
  display: flex;
  justify-content: space-evenly;
}
.col-sm-4 img {
  width: 290px;
  margin: 0px;
}
.col-lg-6 img {
  vertical-align: middle;
  border-radius: 15px;
  margin: 0px;
}
.col-md-6 img {
  vertical-align: middle;
  border-radius: 15px;
  margin: 0px;
}
.col-md-6 p {
  font-size: 14px;
  font-family: var(--font-family2);
}
@media (max-width: 900px) {
  h1 {
    font-size: 44px;
    line-height: 56px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }

  .about-section {
    text-align: center;
    padding: 0;
  }

  .project-desciption {
    padding: 0;
    text-align: center;
  }
}
